html, body
{
	background-color:darkblue;
	height: 98%;
	width: 98%;
	font-family: helvetica;

}


h3 {color:white;
	height: 8%;
	font-size: 32px;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	border: 5px solid #00f;
	width: 600px;
	height: 400px;
	margin: auto;
	background-image: url("http://image6.buzzintown.com/files/event/upload_68000/upload_original/360969-underwater-photography-workshop.jpg");
	background-size: 600px 400px;
	background-repeat: no-repeat;
	border-color: black;
}

  




